{%extends 'base.html'%}


{% block content%}
<div class="container">
    <h1 class="display-2 text-center">{{pet.name}} Details</h1>
    <img class="rounded mx-auto d-block detail_img" src="{{pet.photo_url}}" alt="{{pet.name}}">
    <h3 class="text-center">Species: {{pet.species}}</h3>
    {%if pet.age%}
    <h3 class="text-center">Age: {{pet.age}}</h3>
    {%endif%}
    <div class="container edit-form">
        <h4>Edit {{pet.name}} Details </h4>
        <form method="POST">
            {{form.hidden_tag()}}
            <input type="hidden" name=name value={{pet.name}}>
            {{form.photo_url.label(class_="form-group")}}
            {{form.photo_url(class_="form-control")}}

            {% for err in form.photo_url.errors%}
            <div>
                {{err}}
            </div>
            {% endfor%}

            {{form.notes.label(class_="form-group")}}
            {{form.notes(class_="form-control")}}

            {% for err in form.notes.errors%}
            <div>
                {{err}}
            </div>
            {% endfor%}

            {{form.age.label(class_="form-group")}}
            {{form.age(class_="form-control")}}

            {% for err in form.age.errors%}
            <div>
                {{err}}
            </div>
            {% endfor%}

            {{form.available.label(class_="form-group")}}
            {{form.available(class_="form-control")}}
            <div>
                <a href="/"><button type="button" class="btn btn-secondary btn-lg">Cancel</button></a>
                <button class="btn btn-primary btn-lg">Submit</button>
            </div>
    </div>
    </form>
    <p></p>
</div>
{% endblock %}