{%extends 'base.html'%}


{% block content%}
<div class="container">
    <h1 class="display-2 text-center">Pet Adoption</h1>
    <div class="text-center mt-2 mb-5">
        <a href="/add"><button class="btn btn-lg btn-primary">Add Pet</button></a>
    </div>
    <div class="row row-cols-3 justify-content-center">
        {% for pet in pets %}
        <div class="col justify-content-center">
            <h3 class="text-center">{{pet.name}}</h3>
            <img src="{{pet.photo_url}}" alt="{{pet.name}} photo" class="rounded mx-auto d-block"">
            {%if pet.available %}
            <div class=" text-center alert alert-success">Available
        </div>
        {%else%}
        <div class="text-center alert alert-secondary">Not available</div>
        {%endif%}
        <a href="/{{pet.id}}"><Button class="btn btn-success mx-auto d-block">{{pet.name}} Details</Button></a>
    </div>
    {% endfor%}
</div>
</div>
{% endblock %}